RewriteEngine On

#RewriteCond %{http} off
#RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R,L]

#RewriteCond %{HTTP_HOST} ^www\.machousel.com.bd\.co [NC]
#RewriteRule ^(.*)$ https://livestock.skitsbd.com/$1 [L,R=301]

RewriteCond %{REQUEST_URI} !^(/public_html)
RewriteCond %{REQUEST_FILENAME} !-f 
RewriteCond %{REQUEST_FILENAME} !-d 
RewriteRule ^(.*)$ index.php/$1 [QSA,L]

<IfModule mod_headers.c>
   Header set Access-Control-Allow-Origin "*"
 </IfModule>